.Chat-main
  .Chat-main__group-info
    .left-box
      .current-group
        name
      %ul.member-list
        Member :
        %li.member-list__member
          chiharu
    .btn
      = link_to "Edit", "#",class: "btn__edit" 
  .Chat-main__message-list
  .Chat-main__message-form
