.Chat-main
  .Chat-main__group-info
    .left-box
      .left-box__name
        test
      %ul.members-list 
        Member:
        %li.members-list__member chiharu
    = link_to "#", class: "edit-btn" do
      Edit
  .Chat-main__message-list
  .Chat-main__message-form
